body{
  background-color: black;
  font-size: 22px;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

header{
display: flex;
width: 100%;
position: fixed;
z-index: 1;
height: 69px;
background-color: black;
border-bottom: 1px solid seashell;
align-items: center;
}
header img{
  height: 50px;
  padding-right: 10px;
}

nav{
  text-align: right;
  flex-grow: 1;
}

span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color:seashell;
}

.large{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mission{
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
width: 1200px;
height: 700px;
}

.content{
margin: 0;
background-color: black;
width: 100%;
}

h2 {
margin: 0;
padding: 10px;
color: white;
}
