body{
  background-color: black;
  font-size: 22px;
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

header{
display: flex;
width: 100%;
position: fixed;
z-index: 1;
height: 69px;
background-color: black;
border-bottom: 1px solid seashell;
align-items: center;
}
header img{
  height: 50px;
  padding-right: 10px;
}

nav{
  text-align: right;
  flex-grow: 1;
}

span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color:seashell;
}

.large{
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
}

.mission {
display: flex;
width: 1200px;
margin: auto;
height: 100px;
background-color: black;
}

.misson h2 h4 {
display: flex;
margin: auto;
color: seashell;
text-align: center;
}
